body{
    font-family: 'Inter', sans-serif;
}
h2{
    font-family: 'Poppins', sans-serif;
}
.nav{
    display: flex;
    width: 1220px;
    justify-content: space-between;
    margin: 53px auto 150px;
    font-size: 18px;
    line-height: 21px;
    color: #37393F;
    align-items: center;
    
   
}
.header-parent{
    width: 100%;
    height: 118px;
    background-color: #ffffff;
    position: fixed;
    z-index: 50;
}
.get-consulting{
    color: #ffffff;
    background-color: #6B77E5;
    width: 184px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 200px;
}
.nav-pages{
    width: 825px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.process{
    width: 1220px;
    margin: 0 auto;
    padding-top: 254px;    
    
}
.process-text{
  text-align: center;
  margin-bottom: 41px;
}
.process-p{
    font-size: 18px;
    line-height: 22px;
    color: #37393F;
    font-weight: 500;
}
.process-h{
    font-size: 40px;
    line-height: 48px;
    color: #37393F;
    font-weight: 700;
}
.box-container{
    display: flex;
    justify-content: space-between;
}
.box{
    width: 366px;
    background-color: #F4F4F4;    
    height: 383px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.box-content{
    width: 300px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-h{
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    color: #37393F;
}
.box-p{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #7D7D7D;
}
.box-testimonial{
    color: #6B77E5;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;  
}
.box-image-background{
    width: 72px;
    height: 72px;
    background-color: #40DDB6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.middle{
    background-color: #6B77E5;
}
.image{
    width: 100%;
    height: 557px;
    margin: 35px auto 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-wrapper{
    position: relative;
}
.image-content{
    width: 511px;
    height: 271px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.image-text-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    align-items: center;
}


.image-p1{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #37393F;
}
.image-h{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #37393F;
}
.image-p2{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #37393F;
}
.image-play{
    height: 64.5px;
    width: 64.5px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: #6B77E5;
    display: flex;
    justify-content: center;
}
.team-container{
    width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 131px;
   
}

.team-text{
    height: 86px;
    width: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-p{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #37393F;
}

.team-h{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.team-members{
    width: 1220px;
    display: flex;
    justify-content: space-between;
}

.team-box{
    height: 114px;
    width: 341px;
    position: absolute;
    left: 22px;
    bottom: 22px;
 
}

.team-image-wrapper{
    position: relative;
}

.member-info{
    height: 114px;
    width: 341px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}
.member-name{
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    color: #37393F;
}
.member-occupation{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #7D7D7D;
}